/*
  Author: Thomas Bye
  Description: Footer Styles
  Version: 0.0.1
*/

/*--------------------------------------------------------------
Footer Structure
--------------------------------------------------------------*/
