/*
  Author: Thomas Bye
  Description: Header Styles
  Version: 0.0.1
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#   Header - Default


/*--------------------------------------------------------------
Header Default
--------------------------------------------------------------*/
