.home_container {
    height:500px;
    background-image:url('/web/image/crowd-bg.jpg');
    background-size:cover;
    background-position:center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*---Header---*/
.login_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top:10px;
}
.login_container h4 {
    color:white;
    margin:0 30px;
    font-size:12px;
}

.punt_club_banner {
    margin-left:10%;
}
.punt_club_banner h1 {
    font-size:80px;
    margin:0;
    line-height:70px;
}
.punt_club_banner p {
    font-size:20px;
    margin:0px;
}

/*--------------------------------------------------------------
  # Alerts - Browser Notifications
--------------------------------------------------------------*/

.old-browser {
    display: none;
    position: relative;
    visibility: hidden;
    width: 100%;
    color: #ffffff;
    margin: 0 auto;
    padding: 60px 0 0 0;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
}

.no_script {
    text-align: center;
}

.not_supported,
.no_script {
  display: block;
  position: relative;
  background-color: #e6af0f;
  padding: 2em;
  text-align: center;
}
.not_supported {
  display: none;
}

/*---Home Buttons---*/
.home_buttons {
    border-top:4px solid red;
}

.main_button {
    color:white;
    text-align:center;
    background-color:rgba(0,0,0,0.5);
    border-left:1px solid rgba(255,255,255,0.2);
    border-right:1px solid rgba(255,255,255,0.2);
}
.main_button i {
    font-size:50px;
    margin:20px 0 15px;
}
.main_button h2 {
    font-size:30px;
}


/*---Club details---*/
.vertical_gradient {
    background: rgb(209,0,0);
    background: -moz-linear-gradient(0deg, rgba(209,0,0,1) 0%, rgba(219,201,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(209,0,0,1) 0%, rgba(219,201,0,1) 100%);
    background: linear-gradient(0deg, rgba(209,0,0,1) 0%, rgba(219,201,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d10000",endColorstr="#dbc900",GradientType=1);
    padding-left:7px;
    height:100%;
    display: flex;
    flex-direction: column;
}
.club_details_container {
    margin-top:20px;
}
.club_details {
    background-color:white;
    padding-left:10px;
}
.club_details h1 {
    font-size:50px;
    color:black;
    margin:4px 0;
}
.club_details p {
    color:black;
    font-size:13px;
    margin:2px 0;
    font-weight:bold;
    letter-spacing: 2px;
}
.red span{
    color:#fb080a !important;
}
.green span {
    color:#81d576 !important;
}

/*---Tabs---*/
.tabs_col {
    overflow:hidden;
}
.tab_headers {
    display:flex;
    justify-content: flex-end;
}

.tab_headers h3 {
    color:rgba(0,0,0,0.2);
    transition:0.3s ease all;
    cursor:pointer;
}
.tab_headers h3:not(:first-child) {
    margin-left:20px;
}
.tab_headers .active {
    color:black;
}

.punter_list {
    display:flex;
    position:absolute;
    margin-right:15px;
    right:-200px;
}
.punter_list ul {
    list-style-type:none;
    width:200px;
    padding-inline-start: 0px;
}
.punter_list ul li {
    text-align:right;
}

.next_up_punters_list {
    opacity:0;
}

/*--Sign-up---*/
.sign_up_buttons {
    display:flex;
    align-items:baseline;
    justify-content: space-between;
    margin: 18px 0 10px;
}

.form_items {
    display:flex;
    justify-content: space-between;
}

.cancel_sign-up p {
    transition:0.4s ease all;
}
.cancel_sign-up a:hover {
    text-decoration:none;
}
.cancel_sign-up a:hover p {
    color:#c7c7c7;
}

/*---table---*/
.form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
}
.loss {
    width:20px;
    height:20px;
    background-color:red;
    margin-right:4px;
}
.win {
    width:20px;
    height:20px;
    background-color:green;
    margin-right:4px;
}

.table_col {
    padding:0 !important;
}
.table_container {
    margin:40px 0;
}

.table_headers {
    padding:0 15px !important;
    display:flex;
    justify-content: flex-start;
}

.table_headers h3 {
    color:rgba(0,0,0,0.2);
    transition:0.3s ease all;
    cursor:pointer;
}
.table_headers h3:not(:first-child) {
    margin-left:20px;
}
.table_headers .active {
    color:black;
}

.leaderboard_header {
    display:flex;
    height:35px;
    justify-content:space-between;
    background-color:rgba(0,0,0,0.4);
    padding:0 15px;
}

.leaderboard_header h4 {
    width: 100%;
    line-height:35px;
    font-size:12px;
}
.leaderboard_content {
    display:flex;
    height:35px;
    justify-content:space-between;
    padding:0 15px;
}
.leaderboard_content:nth-of-type(odd) {
    background-color:rgba(0,0,0,0.1);
}
.leaderboard_content:nth-of-type(even) {
    background-color:rgba(0,0,0,0.05);
}

tr h4 {
    color:black;
    line-height:35px;
    font-size:12px;
    font-weight:700;
    margin:0;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 0px 10px !important;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #fafafa;
}

.tables_graphs_awards {
    /*width:300%;
    display:flex;*/
}

.dataTables_wrapper, .graphs {
    /*width:33.333333%;*/
}

.line-chart {
    height:100%;
    width:20%;
}

.graphs {
    display:flex;
}

#curve_chart {
    width:100%;
    height:100%;
}

/*---Current Bets---*/
#new-bet a:hover {
    text-decoration: none;
}
.bets_container {
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: start;
}
.new_bet {
    font-size:100px;
    display:flex;
    align-items:center;
    justify-content: center;
    color:#CCC;
}
.bet_slip_container {
    width:32%;
    margin-bottom:2%;
}
.bet_slip_container:nth-child(3n+2) {
    margin-left:1.33333%;
    margin-right:1.33333%;
}
.bet_slip {
    background-color:#f7f7f7;
    padding:4%;
    height:100%;
}
.bet_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bet_header i {
    transition:0.4s ease all;
    opacity:0.4;
    cursor:pointer;
}
.bet_header i:hover {
    opacity:1;
}
.winner {
    background-color:#edffea;
}
.loser {
    background-color:#ffeeee;
}
.pending_detail {
    background-color:#CCC;
    text-align:center;
}
.pending_detail h3 {
    color:white;
    font-size:18px;
    padding:5px 0;
    margin:0;
    text-shadow:1px 1px 6px rgba(0,0,0,0.3);
}
.winner_detail {
    background-color:#81d576;
    text-align:center;
}
.winner_detail h3 {
    color:white;
    font-size:18px;
    padding:5px 0;
    margin:0;
    text-shadow:1px 1px 6px rgba(0,0,0,0.3);
}
.loser_detail {
    background-color:#f87c7d;
    text-align:center;
}
.loser_detail h3 {
    color:white;
    font-size:18px;
    padding:5px 0;
    margin:0;
    text-shadow:1px 1px 6px rgba(0,0,0,0.3);
}
.bet_slip h3 {
    font-size:16px;
    margin:0;
    text-transform: uppercase;
}
.bet_slip hr {
    margin:4% 0;
}
.bet_slip h5 {
    font-size:13px;
    color:black;
    margin-bottom:4px;
    font-family: 'Montserrat-Light';
}
.bet_slip p {
    font-size:14px;
    color:black;
    font-family: 'Montserrat-Medium';
}

.bet_details {
    display:flex;
    justify-content: space-between;
}
.bet_details div:nth-of-type(2) {
    text-align:right;
}

.win_percentage {
    margin-top:-5px;
}
.win_line {
    float:left;
    background-color:#81d576;
    height:5px;
}
.loss_line {
    background-color:#f87c7d;
    height:5px;
    float:right;
}

.resulted_header {
    margin-top:50px;
}

/*---Chat---*/
.chat_container {
    background-color:#f7f7f7;
    padding:0 0 30px;
    height:100%;
}

.chat_box {
    border-radius:3px;
    border:1px solid #CCC;
    width:86%;
    margin:10px 7%;
    padding:4px;
    font-size:10px;
    transition: 0.4s ease all;
    height:25px;
}
.chat_box:focus {
    height: 55px !important;
}

.chat_form .gradient_button {
    margin:0 7%;
}

.other_chat {
    width:70%;
    border:1px solid #ccc;
    margin:8px 7%;
    padding:4px 3%;
    background-color:white;
}
.my_chat {
    width:70%;
    border:1px solid #ccc;
    margin: 8px 7% 0 auto;
    padding:4px 3%;
    background-color:#edfbff;
}
.chatter {
    color:black;
    font-size:10px;
    margin:0;
}
.other_chat hr, .my_chat hr {
    margin:4px 0;
}
.other_chat p, .my_chat p {
  font-family: 'Montserrat-Medium';
    color:black;
    font-size:10px;
    margin:0;
}



@media (max-width: 768px) {

    /*Header*/
    .login_container {
        justify-content: space-around;
    }
    .punt_club_banner {
        margin: 40px 0;
        text-align: center;
    }
    .punt_club_banner h1 {
        font-size: 40px;
        line-height:40px;
    }
    .home_container {
        height: 100%;
    }
    .main_button {
        width:25% !important;
        padding-top:10px;
        padding-bottom:10px;
        border-left: none;
        border-right: none;
    }
    .main_button i {
        margin: 10px 0;
        font-size: 15px;
    }
    .main_button h2 {
        font-size: 8px;
        font-family: 'Montserrat-Medium';
    }
    .main_button p {
        display:none;
    }

    /*Club Details*/
    .club_details h1 {
        font-size: 27px;
    }
    .tabs_col {
        display:none;
    }

    /*Datatable*/
    table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
        padding-left: 30px !important;
    }
    tr h4 {
        font-size:10px;
        white-space: nowrap;
    }


    /*Bet Slips*/
    .bet_slip_container {
        width: 100%;
        margin-bottom: 20px;
    }
    .bet_slip_container:nth-child(3n+2) {
        margin-left: 0%;
        margin-right: 0%;
    }
    .chat_header {
        display:none;
    }
}
