/*
  Author: Thomas Bye
  Description: NavBar Styles
  Version: 0.0.1
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#   Root navigation element

--------------------------------------------------------------*/


/*--------------------------------------------------------------
  # Navigation list
--------------------------------------------------------------*/
